.about {
  margin-bottom: 40px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 40px;


  }

  &__img {
    height: 700px;
    // width: 500px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;

    img {
      width: 48px;
      height: 48px;
    }
  }

  &__info-wr {
    display: flex;
    gap: 20px;
    // justify-content: space-evenly;
    align-items: center;
  }

  &__title {
    font-size: 44px;
    font-weight: 700;
    // margin-bottom: 40px;
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    // padding-left: 20px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__item {
    padding: 20px 10px;
  }

  &__item~&__item {
    border-left: 2px solid var(--acc-color);
  }

  &__item-title {
    font-size: 28px;
    font-weight: 700;
  }

  &__item-text {
    font-size: 18px;
    font-weight: 500;

  }

  button {
    background-color: var(--acc-color);
    color: #fff;
    padding: 15px 45px;
    width: fit-content;
    // margin-left: 20px;
  }
}

.container {}

.title {}

.btn {}