.blog-list {
  padding-top: 120px;
  margin-bottom: 100px;

  &__inner {}

  &__title {}

  &__items {
    // display: flex;
    // justify-content: space-between;
    // gap: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__item {
    border-radius: 15px;
    box-shadow: var(--shadow-md);
    background-color: var(--bg-color);
  }

  &__-img {
    // width: 200px;
    width: 100%;
    max-height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &__-wr {
    padding: 10px;
  }

  &__item-title {
    font-family: var(--font-unbounded);
    display: -webkit-box;
    /* Поддержка старых браузеров */
    -webkit-box-orient: vertical;
    /* Ориентация боксов */
    -webkit-line-clamp: 1;
    /* Ограничение в 1 строки */
    overflow: hidden;
    /* Скрытие лишнего текста */
  }

  &__item-date {
    font-family: var(--font-unbounded);
    font-size: 8px;
    font-weight: 700;
  }

  &__item-text {
    line-height: 16px;
    display: -webkit-box;
    /* Поддержка старых браузеров */
    -webkit-box-orient: vertical;
    /* Ориентация боксов */
    -webkit-line-clamp: 2;
    /* Ограничение в 2 строки */
    overflow: hidden;
    /* Скрытие лишнего текста */
  }
}