.blog {
  padding-top: 120px;

  &__title {}

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__info {}

  &__item-title {}

  &__item-text {}

  &__images {}
}

.helper {
  margin-bottom: 80px;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }





  &__item {
    border-radius: 15px;
    box-shadow: var(--shadow-md);
    background-color: var(--bg-color);
    // max-height: 400px;
    // width: 350px;

  }

  &__item-wr {
    padding: 10px;
  }

  &__item-img {
    width: 100%;
    max-height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  &__item-title {
    font-family: var(--font-unbounded);
    display: -webkit-box;
    /* Поддержка старых браузеров */
    -webkit-box-orient: vertical;
    /* Ориентация боксов */
    -webkit-line-clamp: 1;
    /* Ограничение в 1 строки */
    overflow: hidden;
    /* Скрытие лишнего текста */
  }

  &__item-text {
    display: -webkit-box;
    /* Поддержка старых браузеров */
    -webkit-box-orient: vertical;
    /* Ориентация боксов */
    -webkit-line-clamp: 2;
    /* Ограничение в 2 строки */
    overflow: hidden;
    /* Скрытие лишнего текста */
  }
}

.gallery {

  // padding: 20px;
  // margin: 0 auto;
  // width: 960px;

  .preview {
    display: flex;
    // flex-direction: column;
    gap: 10px;

    &__link {
      align-items: center;
      background-color: #ccc;
      display: flex;
      margin-bottom: 20px;
      opacity: 0.7;
      overflow: hidden;
      transition: opacity 0.3s ease;
      height: 130px;
      width: 200px;

      img {
        width: 100%;
      }
    }
  }

  .images {
    background-color: #ccc;
    // margin-left: 20px;
    height: 430px;
    overflow: hidden;
    width: 620px;
    margin-bottom: 10px;

    img {
      width: 100%;
    }
  }

  .checked {
    box-sizing: border-box;
    border: 2px solid #777;
    opacity: 1;
  }
}