.form-bottom {
  margin-bottom: 40px;

  &_inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--acc-color);
    padding: 20px 40px;
    border-radius: 15px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: var(--shadow-lg);



  }

  &__info {
    max-width: 760px;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 38px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    p {
      font-weight: 500;
      font-size: 27px;
      line-height: 120%;
    }
  }

  &__forms {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;

    input {
      font-weight: 500;
      font-size: 16px;
      color: var(--bg-color);
      outline: none;
      width: 100%;
      height: 46px;
      padding: 4px 24px;
      margin-bottom: .5rem;
      border-radius: 15px;
      border: 1px solid var(--bg-color);

    }

    input::placeholder,
    textarea::placeholder {
      color: var(--bg-color);
      font-weight: 500;
    }

    textarea {
      font-weight: 500;
      font-size: 16px;
      color: var(--bg-color);
      outline: none;
      width: 100%;
      height: 80px;
      padding: 4px 24px;
      margin-bottom: .5rem;
      border-radius: 15px;
      border: 1px solid var(--bg-color);
    }

    button {
      font-size: 16px;
      font-weight: 600;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // width: fit-content;
      // gap: 10px;
      height: 46px;
      padding: 4px 24px;
      border-radius: 15px;
      color: var(--dark);
      background: var(--bg-color);
      width: 100%;
    }
  }
}

.form-top {
  margin-bottom: 40px;

  &__inner {

    background-color: var(--acc-color);
    padding: 20px 40px;
    border-radius: 15px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: var(--shadow-lg);

  }

  &__title {
    margin-bottom: 20px;
    font-family: var(--font-unbounded);
  }

  &__forms {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    input {
      font-weight: 500;
      font-size: 16px;
      color: var(--bg-color);
      outline: none;
      width: 100%;
      height: 46px;
      padding: 4px 24px;
      margin-bottom: .5rem;
      border-radius: 15px;
      border: 1px solid var(--bg-color);

    }

    input::placeholder,
    textarea::placeholder {
      color: var(--bg-color);
      font-weight: 500;
    }



    button {
      font-size: 16px;
      font-weight: 600;
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // width: fit-content;
      // gap: 10px;
      height: 46px;
      padding: 4px 24px;
      border-radius: 15px;
      color: var(--dark);
      background: var(--bg-color);
      width: 100%;
    }
  }
}

.container {}