.form-bottom {
  margin-bottom: 100px;

  &_inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: var(--acc-color);
    padding: 20px 40px;
    border-radius: 15px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: var(--shadow-lg);



  }

  &__info {
    max-width: 760px;
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 38px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    p {
      font-weight: 500;
      font-size: 27px;
      line-height: 120%;
    }
  }

  &__forms {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;



    input {}



    textarea {}

    button {}
  }
}

.form-bottom {
  &__input {
    font-weight: 500;
    font-size: 16px;
    color: var(--bg-color);
    outline: none;
    width: 100%;
    height: 46px;
    padding: 4px 24px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid var(--bg-color);
  }

  &__tarea {
    font-weight: 500;
    font-size: 16px;
    color: var(--bg-color);
    outline: none;
    width: 100%;
    height: 80px;
    padding: 4px 24px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid var(--bg-color);
  }

  &__input::placeholder,
  &__tarea::placeholder {
    color: var(--bg-color);
    font-weight: 500;
  }

  &__btn {
    font-size: 24px;
    font-weight: 600;
    height: 46px;
    padding: 4px 24px;
    border-radius: 15px;
    color: var(--dark);
    background: var(--bg-color);
    width: 100%;
    text-align: center;
  }
}

.form-top {
  margin-bottom: 100px;

  &__inner {

    background-color: var(--acc-color);
    padding: 20px 30px;
    border-radius: 15px;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: var(--shadow-lg);

  }

  &__title {
    // margin-bottom: 20px;
    font-family: var(--font-unbounded);
    font-size: 32px;
  }

  &__forms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;







    button {
      font-size: 24px;
      font-weight: 600;
      font-family: var(--font-unbounded);
      // display: flex;
      // align-items: center;
      // justify-content: center;
      // width: fit-content;
      // gap: 10px;
      height: 46px;
      padding: 4px 30px;
      border-radius: 15px;
      color: var(--dark);
      background: var(--bg-color);
    }
  }
}

.container {}