@import "_normalize.scss";
@import "_vars.scss";
@import "_global.scss";
@import "_fonts.scss";
@import "libs.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_forms.scss";
@import "_service.scss";
@import "_faq.scss";
@import "_reviews.scss";
@import "_about.scss";
@import "_price.scss";
@import "_banner.scss";
@import "_blog.scss";
@import "_blog-list.scss";

@import "_media.scss";